<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Интернет-магазин</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="app">
        <header>
            <div class="logo">E-shop</div>
            <div class="cart">
                <form action="#" class="search-form">
                    <input type="text" class="search-field" v-model="userSearch">
                    <button @click="filter()" class="btn-search" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
                <button class="btn-cart" type="button" @click="show=!show">Корзина</button>
                <div class="cart-block" v-show="show">
                    <!-- Если в корзине нет товаров - выводим соответсвующее сообщение -->
                    <p>{{ !cart.length ? "Корзина пуста" : '' }} </p>
                    <div v-for="item of cart">
                        <p>Название товара: {{ item.product_name }}</p>
                        <p>Стоимость товара: {{ item.price }} $</p>
                        <p>{{ item.quantity }} шт, на общую сумму {{ item.price * item.quantity }} $</p>
                        <button class="del-btn" @click="minusOneProduct(item)">-</button>
                        <button class="del-btn" @click="addProduct(item)">+</button>
                        <button class="del-btn" @click="deleteProduct(item)">Удалить товар</button>
                        <hr>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <div class="products">
                <!-- В цикле перебираем массив filtered -->
                <div class="product-item" v-for="product of filtered" :key="product.id_product">
                    <img :src="imgCatalog" alt="Some img">
                    <div class="desc">
                        <h3>{{product.product_name}}</h3>
                        <p>{{product.price}} $</p>
                        <button class="buy-btn" @click="addProduct(product)">Купить</button>
                    </div>
                </div>
            </div>
            <hr>
        </main>
    </div>
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/main.js"></script>
</body>

</html>